<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de mascotas</title>
</head>
<body>
    <div>
        <a href="{{url_for('principal')}}">Principal</a>
        <a href="{{url_for('lista')}}">Listar mascotas</a>
        <a href="{{url_for('alta')}}">Registrar mascota</a>
        <a href="{{url_for('baja')}}">Eliminar mascota</a>
    </div> 
    {% block contenido %}
        
    {% endblock %}
</body>
</html>